* {
  box-sizing: border-box;
}

body {
  background-image: url("https://wordart.com/static/img/gallery/3ovaadmxn4gn.png");
  background-repeat: no-repeat;
  background-size: 50%;
  color:black;

}

h1 {
    text-align: center;
    font-size: 45px;
    font-weight:bolder;
    padding:5%;
    font-style: italic;
    color: rgba(45, 159, 194, 0.932);
    text-decoration: underline;
    
}

input#inputWord{
    text-align: center;
    padding: 10px;
    font-size: 25px;
    border-radius:25%;
    background-color: rgba(0, 195, 255, 0.274);

}

form {
  text-align: center;
  padding: 15px;
}

p {
    text-align: center;
    font-size: 20px;
    color: rgb(29, 106, 129);
    font-weight: bolder;
}

img{
 float:right;
 width:25%;
 position:absolute;
 right:15%;
}

span{
  text-align: center;
  font-size: 30px;
  color: rgb(29, 106, 129);
  font-weight: bolder;
  margin-left:25%;

}
button {
   width:30%;
   height: 50%;
   border:3px black solid;
   border-radius: 25%;
   font-size:25px;
   color: rgb(51, 124, 146);
   background-color: rgba(110, 204, 233, 0.788);


}


div{
  margin-left:45%;
}