*{
  box-sizing: border-box;
}
body{
background: lightpink;

}
h1{
  font-family: 'Handlee', cursive;
  font-size: 50px;
  text-align: center;

}
p{
  color: black;
  font-family: 'Handlee', cursive;
  font-size: 20px;
  text-align: center;
  margin: 5%;
}


input{
margin-left: 25%;
height:40px;
width:50%;
border-radius: 2px;
margin-top: 5%;
border: 5px solid pink;

}
button:hover{
  background: pink;

}
button{
  background-color: black;
  border-radius: 50%;
  padding: 1%;
  margin-left: 3%;
  color:white


}

h2{
  font-size: 50px;
  font-family: 'Handlee', cursive;
  color: white;
}
