*{
  font-size: 16px;
  box-sizing: border-box;
  text-align: center;
  font-family: "Arial Black", Gadget, sans-serif;
}
body{
  background-image: url("back.png");
  height: 95vh;
  /* background-size: cover; */
}
h1{
font-size:3rem;
margin-top: 20px;
}
.big{
  background-color: white;
  height: 90%;
  width: 30%;
  margin-left: 35%;
  border-radius: 10%;
  overflow: auto;
  padding: 0;
  border: 1px solid black;
}
.med{
  background-color: red;
  width: 90%;
  margin-left: 5%;
  height: 90%;
  border-radius: 10%;
}
input, button{
  padding: 3%;
}
button{
  margin-top: 10px;
}
h2{
  height: 60px;
  margin-top: 30px;
  font-size: 2rem;
}
